<h1><%= @category.name %></h1>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Post Name</th>
        <th>Post Genre</th>
        <th>Post Bio</th>
      </tr>
    </thead>
    
    <tbody>
      <%= @category_posts.each do |post| %>
      <tr></tr>
    </tbody>
  </table>
</div>
